* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EDF0F0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #16232A;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
